.homepage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 40ch;
    font-size: 1.5rem;
}

.top-container * {
    margin: 0.5rem 0;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
