.pixel {
    image-rendering: pixelated;
}

.empty {
    height: 16px;
    width: 16px;
}

.floor {
    height: 16px;
    width: 16px;
}

.player-1 {
    background: url("../../assets/sprite-sheet.png") no-repeat -1px -1px;
    width: 16px;
    height: 16px;
}

.wall-1 {
    background: url("../../assets/sprite-sheet.png") no-repeat -1px -19px;
    width: 16px;
    height: 16px;
}

.wall-2 {
    background: url("../../assets/sprite-sheet.png") no-repeat -19px -19px;
    width: 16px;
    height: 16px;
}

.wall-3 {
    background: url("../../assets/sprite-sheet.png") no-repeat -36px -19px;
    width: 16px;
    height: 16px;
}

.wall-4 {
    background: url("../../assets/sprite-sheet.png") no-repeat -53px -19px;
    width: 16px;
    height: 16px;
}

.staircase {
    background: url("../../assets/sprite-sheet.png") no-repeat -1px -36px;
    width: 16px;
    height: 16px;
}

.enemy-1 {
    background: url("../../assets/sprite-sheet.png") no-repeat -1px -53px;
    width: 16px;
    height: 16px;
}
