.pixel {
    image-rendering: pixelated;
}

.empty {
    height: 16px;
    width: 16px;
}

.floor {
    background-color: #ccc;
    height: 16px;
    width: 16px;
}

.wall-1 {
    /* background-image: url("../../assets/sprite-sheet.png");
    background-repeat: no-repeat;
    background-position: -1px -19px; */
    background: url("../../assets/sprite-sheet.png") no-repeat -1px -19px;
    width: 16px;
    height: 16px;
}

.wall-2 {
    background: url("../../assets/sprite-sheet.png") no-repeat 19 19;
    width: 16px;
    height: 16px;
}

.wall-3 {
    background: url("../../assets/sprite-sheet.png") no-repeat 36 19;
    width: 16px;
    height: 16px;
}

.wall-4 {
    background: url("../../assets/sprite-sheet.png") no-repeat 53 19;
    width: 16px;
    height: 16px;
}
