.login-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.title-img {
    margin-top: 4rem;
    image-rendering: pixelated;
    width: 200%;
}

.link {
    cursor: pointer;
    color: #639bff;
}

.title-text {
    font-size: 3rem;
}

.submit-btn {
    cursor: pointer;
}

.warning {
    color: #f7c756;
    margin-bottom: 4rem;
    font-size: 1.5rem;
}
